// variables couleurs
$clr-primary: #326dee;
$clr-secondary: #1ac888;
$clr-error: #d32752;
$clr-info: #f6c31c;

// variables spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// variables bordure
$base-border-thickness: 1px;
$base-border-radius: 20px;